@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade_in_left {
  animation: fadeInLeft 1s ease-in;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade_in_right {
  animation: fadeInRight 1s ease-in;
}
