@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .menu-underline {
    transition: background-size .3s ease-in-out;
    background-image: linear-gradient(#256646, #256646);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 0 2px;
  }

  .menu-active {
    background-size: 100% 2px;
  }
}
